accounts-payable-chatbot/accounts_payable_chatbot.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: accounts_payable_chatbot
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.8@1456818eb78f25c1a25e91809cecbd78e5523d39868dcb78607e625913b5e4fe
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.0@99770a45f77910fe0f64c985524f4fe2294fc6ea25cbf1053ba6bddd7604d850
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773610209441-source-1773616876497-target
      source: '1773610209441'
      sourceHandle: source
      target: '1773616876497'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1773616876497-false-1773616978068-target
      source: '1773616876497'
      sourceHandle: 'false'
      target: '1773616978068'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1773616876497-true-1773618080847-target
      source: '1773616876497'
      sourceHandle: 'true'
      target: '1773618080847'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1773618080847-1773618206020-1773618217445-target
      source: '1773618080847'
      sourceHandle: '1773618206020'
      target: '1773618217445'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: agent
      id: 1773618080847-1-1773618505372-target
      source: '1773618080847'
      sourceHandle: '1'
      target: '1773618505372'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1773618505372-source-1773618909461-target
      source: '1773618505372'
      sourceHandle: source
      target: '1773618909461'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1773618080847-2-1773618967835-target
      source: '1773618080847'
      sourceHandle: '2'
      target: '1773618967835'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1773618967835-source-1773618977030-target
      source: '1773618967835'
      sourceHandle: source
      target: '1773618977030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773618977030-source-1773619015495-target
      source: '1773618977030'
      sourceHandle: source
      target: '1773619015495'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1773616876497-5981ab5d-c06b-47e3-8d9c-c729989d0aa8-1773619291121-target
      source: '1773616876497'
      sourceHandle: 5981ab5d-c06b-47e3-8d9c-c729989d0aa8
      target: '1773619291121'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: agent
      id: 1773619291121-1-1773619322935-target
      source: '1773619291121'
      sourceHandle: '1'
      target: '1773619322935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1773619291121-2-1773619445649-target
      source: '1773619291121'
      sourceHandle: '2'
      target: '1773619445649'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1773619322935-source-1773619491291-target
      source: '1773619322935'
      sourceHandle: source
      target: '1773619491291'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: USER INPUT
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_email
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_email
        - default: ''
          hint: ''
          label: user_role
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_role
      height: 135
      id: '1773610209441'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 79996804-8f51-41ce-8706-cb5d2bdee7ca
            value: internal
            varType: string
            variable_selector:
            - '1773610209441'
            - user_role
          id: 'true'
          logical_operator: and
        - case_id: 5981ab5d-c06b-47e3-8d9c-c729989d0aa8
          conditions:
          - comparison_operator: is
            id: c050a296-c7d1-404f-b52a-96c2a7823470
            value: vendor
            varType: string
            variable_selector:
            - '1773610209441'
            - user_role
          id: 5981ab5d-c06b-47e3-8d9c-c729989d0aa8
          logical_operator: and
        selected: false
        title: Internal?
        type: if-else
      height: 172
      id: '1773616876497'
      position:
        x: 355.66567423258175
        y: 463.86851250762487
      positionAbsolute:
        x: 355.66567423258175
        y: 463.86851250762487
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Sorry, we do not recognize your identity, please contact your system
          admin.
        selected: false
        title: ROLE NOT RECO
        type: answer
        variables: []
      height: 132
      id: '1773616978068'
      position:
        x: 690.0685168160362
        y: 835.0976947687366
      positionAbsolute:
        x: 690.0685168160362
        y: 835.0976947687366
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 'The user''s intent is to query specific business document information
            or request a system action to be executed.

            These questions generally contain specific document numbers (e.g., INV-1001,
            PO-9901) or explicit action verbs (e.g., check status, approve, reject,
            remind, post GR).


            Examples:

            - "Please check the payment status for invoice INV-2001."

            - "The amount on this bill is correct, please approve INV-1002."

            - "Invoice INV-1001 seems to be missing a GR, please post a Goods Receipt
            for 100 pieces."

            - "The system shows this invoice is stuck with the approver, can you send
            a reminder email to them?"

            - "What is the total amount for the invoice attached to PO-9903?"

            '
        - id: '2'
          name: 'The user''s intent is to understand company Accounts Payable policies,
            payment terms, system error explanations, or standard operating procedures.

            These questions are generic, seeking knowledge answers and guidance, rather
            than inquiring about or modifying a specific, individual invoice.


            Examples:

            - "What are our company''s standard Payment Terms?"

            - "I received an invoice without any PO number, how should I process it?"

            - "If the invoice amount does not match the system, what is the accepted
            tolerance limit?"

            - "I cannot log into SAP to approve invoices, who should I contact for
            support?"

            - "If a vendor wants to change their bank account details, what documents
            are required?"

            '
        - id: '1773618206020'
          name: 'The user''s intent is merely polite greetings, small talk, or asking
            questions completely unrelated to finance, accounts payable, or warranties.
            This category is also used to catch any inputs that cannot be classified
            into the above business categories.


            Examples:

            - "Hello there!"

            - "Good morning, the weather is nice today."

            - "Can you write Python code?"

            - "Tell me a joke."

            '
        instructions: 'Class 1 is only for read-only invoice status or amount lookups.
          If the vendor asks to approve, reject, expedite, escalate, override, or
          perform any internal action, you must choose Class 2 even when an invoice
          number is present. When in doubt between Class 1 and Class 2 for an action
          request, choose Class 2.'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1773610209441'
        - sys.query
        selected: false
        title: Internal queries classification
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1773618080847'
      position:
        x: 690.0685168160362
        y: 109.50250181304494
      positionAbsolute:
        x: 690.0685168160362
        y: 109.50250181304494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Hi, this is accounts payable bot, how can I help you today?
        selected: false
        title: Polite response
        type: answer
        variables: []
      height: 116
      id: '1773618217445'
      position:
        x: 1042.4115170799748
        y: 365.4668054713643
      positionAbsolute:
        x: 1042.4115170799748
        y: 365.4668054713643
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'user_query:{{#sys.query#}}


              user_role: {{#1773610209441.user_role#}}


              user_email: {{#1773610209441.user_email#}}'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gpt-5.4
              model_type: llm
              provider: langgenius/openai/openai
              type: model-selector
          query:
            type: constant
            value: 'You are an AI assistant specialized in the Accounts Payable process
              for the tire manufacturing industry (Goodyear).

              The current user needs to query documents or execute system actions.
              You are equipped with 4 backend tools. Please extract the key parameters
              based on the user''s request and **autonomously select** the most appropriate
              tool to call.


              【Tool Usage Guidelines】:

              1. If the user wants to check the status or amount of a specific invoice,
              call the [List Invoices] or [Get Invoice] tool.

              2. If the user explicitly asks to "approve" or "reject" a specific invoice
              (e.g., INV-xxx), call the [Approve Invoice] tool and pass "approve"
              or "reject" in the action parameter.

              3. If an invoice status shows "missing GR", or the user actively requests
              to "post/confirm Goods Receipt", call the [Create Goods Receipt] tool.
              You must ask the user or extract mandatory parameters like PO number
              (po_number) and quantity from the context.

              4. If the user wants to urge an approver or send a notification, call
              the [Send Notification] tool.


              【Critical Security Rules】:

              - All API requests require authentication. If you cannot obtain the
              user''s email or role from the context/variables, you must refuse execution
              and remind the user of a system configuration error.

              - Never guess or hallucinate data. If the tool call returns a "not found"
              result (e.g., 404), truthfully inform the user. Do not fabricate amounts
              or statuses.


              Please use a friendly, professional tone, and transform the rigid JSON
              data returned by the tool calls into natural, human-readable language
              for the user.

              '
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Create Goods Receipt
              parameters:
                delivery_date:
                  auto: 1
                  value: null
                po_number:
                  auto: 1
                  value: null
                quantity:
                  auto: 1
                  value: null
                requester_email:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: e14eb2c2-d25d-40d8-997e-ddd217db33cc
              provider_show_name: Goods-receipt-creation
              settings: {}
              tool_description: Create Goods Receipt
              tool_label: create_gr
              tool_name: create_gr
              type: api
            - enabled: true
              extra:
                description: List Invoices
              parameters:
                vendor_id:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: 81a04232-5bcf-4073-97ed-4847e285ae9b
              provider_show_name: invoice-query
              settings: {}
              tool_description: List Invoices
              tool_label: list_invoices
              tool_name: list_invoices
              type: api
            - enabled: true
              extra:
                description: Get Invoice Detail
              parameters:
                invoice_id:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: 81a04232-5bcf-4073-97ed-4847e285ae9b
              provider_show_name: invoice-query
              settings: {}
              tool_description: Get Invoice Detail
              tool_label: get_invoice
              tool_name: get_invoice
              type: api
            - enabled: true
              extra:
                description: Approve or Reject Invoice
              parameters:
                action:
                  auto: 1
                  value: null
                invoice_id:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: e93283c1-3a9b-4b5b-83d8-b275ad8e5905
              provider_show_name: invoice-approval
              settings: {}
              tool_description: Approve or Reject Invoice
              tool_label: approve_invoice
              tool_name: approve_invoice
              type: api
            - enabled: true
              extra:
                description: Send Notification
              parameters:
                message_content:
                  auto: 1
                  value: null
                platform:
                  auto: 1
                  value: null
                user_email:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: f796a884-4599-4b7c-b41a-69b9324953d5
              provider_show_name: Notification
              settings: {}
              tool_description: Send Notification
              tool_label: send_notification
              tool_name: send_notification
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: false
        title: 'INTERNAL QUERY '
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1773618505372'
      position:
        x: 1042.4115170799748
        y: -18.492236032004087
      positionAbsolute:
        x: 1042.4115170799748
        y: -18.492236032004087
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773618505372.text#}}'
        selected: false
        title: 'USER QUERY OUTPUT '
        type: answer
        variables: []
      height: 103
      id: '1773618909461'
      position:
        x: 1389.959945890205
        y: -47.144642678004004
      positionAbsolute:
        x: 1389.959945890205
        y: -47.144642678004004
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - mJzDyaVGPxUk6Myeu1KK4UiZNkCU3/oVZMBJFlIwZTA6ifv6A7F6xDUC5TnLx8Rc
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-english-v3.0
            provider: langgenius/cohere/cohere
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1773610209441'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: QUERY AP KNOWLEDGE
        type: knowledge-retrieval
      height: 90
      id: '1773618967835'
      position:
        x: 1042.4115170799748
        y: 228.54321591023154
      positionAbsolute:
        x: 1042.4115170799748
        y: 228.54321591023154
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773618967835'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1d711536-8246-4174-b6c1-6e57797fe50e
          role: system
          text: answer {{#sys.query#}} based on {{#context#}}
        selected: false
        title: ANSWER AP KNOWLEDGE
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773618977030'
      position:
        x: 1344.4115170799748
        y: 228.54321591023154
      positionAbsolute:
        x: 1344.4115170799748
        y: 228.54321591023154
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773618977030.text#}}'
        selected: false
        title: AP KNOWLEDGE OUTPUT
        type: answer
        variables: []
      height: 103
      id: '1773619015495'
      position:
        x: 1646.4115170799748
        y: 228.54321591023154
      positionAbsolute:
        x: 1646.4115170799748
        y: 228.54321591023154
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: "The vendor is tracking the payment progress or verifying the status\
            \ of an invoice submitted to Goodyear. \nThey will typically provide specific\
            \ invoice numbers, such as \"INV-XXXX\", or ask general questions about\
            \ the expected payment dates for their bills.\n\nExamples:\n- \"Can you\
            \ check the payment status for my invoice INV-1001?\"\n- \"When will my\
            \ bill INV-2001 be paid?\"\n- \"I submitted invoice INV-1002 last week,\
            \ is it in the system yet?\"\n- \"Can you confirm the total amount you\
            \ have recorded for invoice INV-1001?\"\n"
        - id: '2'
          name: 'The vendor is engaging in casual conversation, greeting, asking for
            contact information, or inquiring about unauthorized internal topics (such
            as Goodyear''s internal payment policies, AP approval processes, or requesting
            to expedite a payment).


            Examples:

            - "Hello!"

            - "Good morning, how can I contact the buyer?"

            - "What is your internal policy for processing invoices without a PO?"

            - "Can you urgently approve the payment for my invoice today?"

            - "Who is the approver for my bill?"

            '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1773610209441'
        - sys.query
        selected: false
        title: VENDOR INTENT
        type: question-classifier
        vision:
          enabled: false
      height: 170
      id: '1773619291121'
      position:
        x: 676.4026046843694
        y: 544.8731603249831
      positionAbsolute:
        x: 676.4026046843694
        y: 544.8731603249831
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'user_email:{{#1773610209441.user_email#}}


              user_role:{{#1773610209441.user_role#}}


              user_query: {{#sys.query#}}'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gpt-5.4
              model_type: llm
              provider: langgenius/openai/openai
              type: model-selector
          query:
            type: constant
            value: 'You are the Goodyear Accounts Payable Chatbot specifically serving
              external vendors.

              The current vendor is only allowed to inquire about their invoice status
              or payment details. You have access to the [List Invoices] or [Get Invoice]
              tool to retrieve this information.


              【Strict Guidelines】:

              1. You can ONLY use the provided tool to fetch read-only data belonging
              to this specific vendor. The system will automatically filter data based
              on their authenticated email and mapped vendor_id.

              2. If the vendor asks to approve, reject, expedite, escalate, override,
              or perform any internal Goodyear action, do NOT call any tool for that
              request. Politely refuse and explain that external vendors cannot approve
              invoices or trigger internal approval actions.

              3. If the tool returns empty or states "not found", do NOT hallucinate
              or guess the payment status. Politely inform the vendor that the invoice
              is not currently found in the system, and it might still be in the initial
              processing stage.

              4. NEVER disclose any internal Goodyear financial policies, approval
              workflows, or data belonging to other companies.

              5. Maintain a highly professional, polite, and strictly business-oriented
              tone. Present the JSON data returned from the tool in a clear, human-readable
              format.'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: List Invoices
              parameters:
                vendor_id:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: 81a04232-5bcf-4073-97ed-4847e285ae9b
              provider_show_name: invoice-query
              settings: {}
              tool_description: List Invoices
              tool_label: list_invoices
              tool_name: list_invoices
              type: api
            - enabled: true
              extra:
                description: Get Invoice Detail
              parameters:
                invoice_id:
                  auto: 1
                  value: null
                x-user-email:
                  auto: 1
                  value: null
                x-user-role:
                  auto: 1
                  value: null
              provider_name: 81a04232-5bcf-4073-97ed-4847e285ae9b
              provider_show_name: invoice-query
              settings: {}
              tool_description: Get Invoice Detail
              tool_label: get_invoice
              tool_name: get_invoice
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: false
        title: VENDOR INVOICE QUERY
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1773619322935'
      position:
        x: 1541.2173098858123
        y: 456.04473146914904
      positionAbsolute:
        x: 1541.2173098858123
        y: 456.04473146914904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: External vendors are not allowed to approve, reject, or expedite
          invoices. I can only help check the status of your own invoices. Please
          send your invoice number if you want me to look up its current status.
        selected: false
        title: DIRECT ANSWER
        type: answer
        variables: []
      height: 148
      id: '1773619445649'
      position:
        x: 1541.2173098858123
        y: 683.044731469149
      positionAbsolute:
        x: 1541.2173098858123
        y: 683.044731469149
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773619322935.text#}}'
        selected: false
        title: INVOICE OUTPUT
        type: answer
        variables: []
      height: 103
      id: '1773619491291'
      position:
        x: 1843.2173098858123
        y: 456.04473146914904
      positionAbsolute:
        x: 1843.2173098858123
        y: 456.04473146914904
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 85.73087317469117
      y: 150.90189382256858
      zoom: 0.4637713195504058
  rag_pipeline_variables: []
