procurement-automation/[para_extractor]procure bot.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: '[para_extractor]procure bot'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.0@99770a45f77910fe0f64c985524f4fe2294fc6ea25cbf1053ba6bddd7604d850
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1773290263553-source-1773564956126-target
      source: '1773290263553'
      sourceHandle: source
      target: '1773564956126'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: http-request
      id: 1773564956126-source-1773565864327-target
      source: '1773564956126'
      sourceHandle: source
      target: '1773565864327'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: parameter-extractor
      id: 1773565864327-source-1773566777436-target
      source: '1773565864327'
      sourceHandle: source
      target: '1773566777436'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1773566777436-source-1773566913418-target
      source: '1773566777436'
      sourceHandle: source
      target: '1773566913418'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1773566913418-true-1773566957954-target
      source: '1773566913418'
      sourceHandle: 'true'
      target: '1773566957954'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1773566957954-source-1773567012496-target
      source: '1773566957954'
      sourceHandle: source
      target: '1773567012496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773567012496-source-1773567129339-target
      source: '1773567012496'
      sourceHandle: source
      target: '1773567129339'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773566913418-false-1773568109057-target
      source: '1773566913418'
      sourceHandle: 'false'
      target: '1773568109057'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773568109057-source-1773567180816-target
      source: '1773568109057'
      sourceHandle: source
      target: '1773567180816'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1773290263553'
      position:
        x: 80
        y: 280.30033935746417
      positionAbsolute:
        x: 80
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        parameters:
        - description: '“提取物品清单后，不要输出标准的 Array 数组结构，而是必须输出一段被序列化后的字符串 (String)，赋给
            items_json_string 变量。 你的输出格式必须是：item_json_string:''[{"name": "笔记本", "quantity":
            5}, {"name": "显示器", "quantity": 3}]''。（注意：最外层必须带有单引号或双引号，把它作为一段纯文本字面量输出）”'
          name: item_json_string
          required: true
          type: string
        - description: '{"total_budget_mentioned": int}

            optional, if mentioned produce, if not leave null.'
          name: total_budget_mentioned
          required: false
          type: number
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: 'Get items '
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1773564956126'
      position:
        x: 382
        y: 280.30033935746417
      positionAbsolute:
        x: 382
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-353
            key: ''
            type: text
            value: '{{#1773564956126.item_json_string#}}'
          type: raw-text
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: total cost call
        type: http-request
        url: http://host.docker.internal:5001/api/vendor-quotations-bulk
        variables: []
      height: 153
      id: '1773565864327'
      position:
        x: 684
        y: 280.30033935746417
      positionAbsolute:
        x: 684
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        parameters:
        - description: grande total cost as a parameter in the response
          name: grand_total_cost
          required: false
          type: number
        - description: vendor quotation details as an Array Objects
          name: vendor_quotation_details
          required: false
          type: string
        query:
        - '1773565864327'
        - body
        reasoning_mode: prompt
        selected: false
        title: get total cost
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1773566777436'
      position:
        x: 986
        y: 280.30033935746417
      positionAbsolute:
        x: 986
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≥
            id: e716b4c8-6a01-4cfe-a018-47483746e8ea
            value: '10000'
            varType: number
            variable_selector:
            - '1773566777436'
            - grand_total_cost
          id: 'true'
          logical_operator: and
        selected: false
        title: '>= 10000?'
        type: if-else
      height: 124
      id: '1773566913418'
      position:
        x: 1264.9962015188034
        y: 392.7381824433824
      positionAbsolute:
        x: 1264.9962015188034
        y: 392.7381824433824
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: ''
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: contract template
        type: http-request
        url: http://host.docker.internal:5001/api/po-template
        variables: []
      height: 137
      id: '1773566957954'
      position:
        x: 1590
        y: 280.30033935746417
      positionAbsolute:
        x: 1590
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: e1ed851c-f018-4556-ba0f-fdeced866c86
          role: system
          text: '> You are a meticulous Senior Procurement Specialist. Your task is
            to accurately populate the provided Purchase Order (PO) template based
            on the user''s original request and the latest vendor quotations I have
            retrieved.

            >

            > **Instructions:**

            > 1. Generate a unique `PO Number` using today''s date and a random alphanumeric
            string (e.g., PO-20260315-AX9V).

            > 2. Precisely fill in the `{items}` section with the matched vendor names,
            full product descriptions, quantities, and unit prices.

            > 3. Calculate and accurately insert the total aggregated cost into the
            `{total_cost}` variable.

            > 4. Since the grand total exceeds our company''s 10,000 RMB auto-purchase
            threshold, you **MUST** strictly set the `{status}` field to: **[ PENDING_APPROVAL
            - Human Review Required ]**.

            > 5. Output **ONLY** the finalized Purchase Order document. Do not include
            any conversational filler.

            >

            > ---

            > **User''s Original Request:**

            > {{#sys.query#}}

            >

            > **Retrieved Vendor Quotations Data:**

            > {{#1773566777436.grand_total_cost#}}

            >

            > **Blank PO Template Format:**

            > {{#1773566957954.body#}}


            Write your response in markdown'
        selected: false
        title: Write PO
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773567012496'
      position:
        x: 1892
        y: 280.30033935746417
      positionAbsolute:
        x: 1892
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773567012496.text#}}'
        selected: false
        title: Answer - Human review
        type: answer
        variables: []
      height: 103
      id: '1773567129339'
      position:
        x: 2194
        y: 280.30033935746417
      positionAbsolute:
        x: 2194
        y: 280.30033935746417
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773568109057.text#}}'
        selected: false
        title: Answer - Direct Approval
        type: answer
        variables: []
      height: 103
      id: '1773567180816'
      position:
        x: 1892
        y: 503.2582698418079
      positionAbsolute:
        x: 1892
        y: 503.2582698418079
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 331038c4-8600-4f8f-b1f0-af8a0441088d
          role: system
          text: "Hello,\nYour procurement request has triggered our low-value fast-track\
            \ channel:\nTotal Estimated Cost: {{#1773566777436.grand_total_cost#}}RMB\n\
            Vendor Quotation Details: {{#1773566777436.vendor_quotation_details#}}\n\
            \nSystem Note: Since the total amount does not exceed the 10,000 RMB automatic\
            \ processing threshold, this order has been auto-approved and processed\
            \ via our corporate account. Shipping details will be sent to your Slack\
            \ shortly. \n\nrefine the json part and render it to pure text. Do not\
            \ change any other part."
        selected: false
        title: Text refinement
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773568109057'
      position:
        x: 1590
        y: 503.2582698418079
      positionAbsolute:
        x: 1590
        y: 503.2582698418079
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -805.1581438692272
      y: 55.14488637304328
      zoom: 0.6225326099698099
  rag_pipeline_variables: []
